<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bag</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">WW</div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
           <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
          <li><a href="service.html">Services</a></li>
          <li><a href="return.html">Return</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="nav-right">
          <div class="search-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input type="text" placeholder="Search on WW" />
          </div>
          <a href="signin.html"> <button class="navbutton">Sign in</button></a>
          <a href="login.html"> <button class="navbutton">Log in</button></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-bag-heart"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
            />
          </svg>
        </div>
      </nav>
    </header>
    <h1 style="font-size: 85px">
      <marquee scrollamount="20" loop="infinite">HAND BAGS</marquee>
    </h1>
    <main>
      <div class="row justify-content-center align-items-center g-2">
        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/73/e8/45/73e8457409c169c917a49471c705bf20.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Sling Classy Shoulder Bag</h4>
            <h5 class="card-title">MRP ₹998</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/1e/57/07/1e5707d79b6fdd5a6450af705edd88ea.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Checkered Baguette Bag</h4>
            <h5 class="card-title">MRP ₹1390</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/11/a5/41/11a541584587751322605b8b5828ee2b.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Moon Sling Bag</h4>
            <h5 class="card-title">MRP ₹1205</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/2e/ac/cd/2eaccdfc5143cdb213cdf2d7dd6b0e79.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Pouch Satchel Bag</h4>
            <h5 class="card-title">MRP ₹988</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/d4/48/3d/d4483daa85d0c4c39554a2a8b8318e38.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Cross Body Purse</h4>
            <h5 class="card-title">MRP ₹1005</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/b2/b9/86/b2b986161bfdb82e70247620cef54e92.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Khos Handbag</h4>
            <h5 class="card-title">MRP ₹880</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/ac/68/fb/ac68fbb7cf08d116fc5ad2538eb37b85.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Cream Sling Shoulder Bag</h4>
            <h5 class="card-title">MRP ₹899</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/56/dd/e8/56dde85ec42e8b50b585f8b168288d57.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Geo Embossed Chain Bag</h4>
            <h5 class="card-title">MRP ₹980</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/c8/c4/3f/c8c43fa5e2396629404815aa4eef8c2d.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Velvet Textured Flap Bag</h4>
            <h5 class="card-title">MRP ₹1300</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/f9/3f/a3/f93fa38b46bf6c7623147fabf5715655.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Mini Bucket Bag</h4>
            <h5 class="card-title">MRP ₹989</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/80/4b/2d/804b2dce2e5dad317640d6f40a493595.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Contrast Bind Chain Bag</h4>
            <h5 class="card-title">MRP ₹1090</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/4b/16/c5/4b16c56e6554004a0b9718be85847ac0.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Allen Solly White Bag</h4>
            <h5 class="card-title">MRP ₹1200</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/7a/2e/eb/7a2eebd40adee8bc4388b04391f6a9e9.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Butterfly Flap Square Bag</h4>
            <h5 class="card-title">MRP ₹899</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/4c/b0/4e/4cb04e3805ec1f7f289d2a07b27d84f4.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Yellow Checkered Bag</h4>
            <h5 class="card-title">MRP ₹970</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/9e/98/4d/9e984dc2922beccdc57a8cf59089401b.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Casual Florida Square Bag</h4>
            <h5 class="card-title">MRP ₹1780</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/00/50/23/00502327c56ef56823eafe1b6e15c17a.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Leather Bow Handbag</h4>
            <h5 class="card-title">MRP ₹2799</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sign Up For 10% Off</h3>
            <p>
              Subscribe to our mailing list for direct access to new drops,
              exclusive discounts, giveaways, and product restocks
            </p>
            <form>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <button type="submit">JOIN</button>
            </form>
          </div>
          <div class="footer-section">
            <h3>About Us</h3>
            <ul>
              <li><a href="aboutus.html#mis">Our Mission</a></li>
              <li><a href="aboutus.html#sust">Sustainability</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Customer Care</h3>
            <ul>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="service.html">Shipping Information</a></li>
              <li><a href="return.html">Returns</a></li>
              <li><a href="return.html">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
