<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wonders Wardrobe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <header>
    <nav class="navbar">
      <div class="logo">WW</div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
        <li><a href="service.html">Services</a></li>
        <li><a href="return.html">Return</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <div class="nav-right">
        <div class="search-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
            />
          </svg>
          <input type="text" placeholder="Search on WW" />
        </div>
        <a href="signin.html"> <button class="navbutton">Sign in</button></a>
        <a href="login.html"> <button class="navbutton">Log in</button></a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="currentColor"
          class="bi bi-bag-heart"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
          />
        </svg>
      </div>
    </nav>
  </header>

  <header>
    <h1 style="text-align: center; font-size: 7">Choose Your Category</h1>
  </header>

  <main>
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="dress.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/cc/2a/d3/cc2ad3b70540ce8d65855dcd78c47604.jpg"
            alt="dress"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="jeans.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/0f/a4/49/0fa449cc9551c51f5dea58ee31083a03.jpg"
            alt="jeans"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="top.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/50/89/bb/5089bbf385ee617bd554f1c99ac857f5.jpg"
            alt="Top"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="jewel.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/bb/38/82/bb38827f550915f70330164db75f40df.jpg"
            alt="Jewel"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="shoes.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/2e/e4/46/2ee446d69c5a1439a151b47049ab91ae.jpg"
            alt="shoes"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="makeup.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/33/92/b2/3392b2a1a65ae10dc4111c28ee4043c9.jpg"
            alt="makeup"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="bag.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/74/c0/7b/74c07bd9f2899d06cfaa506dec7a16fd.jpg"
            alt="bag"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="watch.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/36/75/07/36750755a70b3651fc731917495f8221.jpg"
            alt="watch"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="perfumes.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/00/3b/21/003b219254101bd787a0fa779b16ed99.jpg"
            alt="perfumes"
          />
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2_4 m-0">
        <a href="hairap.html">
          <img
            class="categoryimg"
            src="https://i.pinimg.com/736x/8d/c5/f2/8dc5f286356788d810a4bd4d8fc238ec.jpg"
            alt="Hair Appliances"
          />
        </a>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sign Up For 10% Off</h3>
        <p>
          Subscribe to our mailing list for direct access to new drops,
          exclusive discounts, giveaways, and product restocks
        </p>
        <form>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <button type="submit">JOIN</button>
        </form>
      </div>
      <div class="footer-section">
        <h3>About Us</h3>
        <ul>
          <li><a href="aboutus.html#mis">Our Mission</a></li>
          <li><a href="aboutus.html#sust">Sustainability</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Customer Care</h3>
        <ul>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="service.html">Shipping Information</a></li>
          <li><a href="return.html">Returns</a></li>
          <li><a href="return.html">Refund Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>
</html>
