<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jeans</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">WW</div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
           <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
          <li><a href="service.html">Services</a></li>
          <li><a href="return.html">Return</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="nav-right">
          <div class="search-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input type="text" placeholder="Search on WW" />
          </div>
          <a href="signin.html"> <button class="navbutton">Sign in</button></a>
          <a href="login.html"> <button class="navbutton">Log in</button></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-bag-heart"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
            />
          </svg>
        </div>
      </nav>
    </header>
    <h1 style="font-size: 85px">
      <marquee scrollamount="20" loop="infinite">JEANS</marquee>
    </h1>
    <main>
      <div class="row justify-content-center align-items-center g-2">
        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/4b/2f/f4/4b2ff411f72c74f3ae131d938619db4f.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Baggy Leg Jeans</h4>
            <h5 class="card-title">MRP ₹1404</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/08/01/57/08015720adff051f7c035b8eb119cd70.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Skater Jeans New Denim</h4>
            <h5 class="card-title">MRP ₹1650</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/18/31/83/183183d2e3a24de375d3f8f0c792b7ff.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Wide High Waist Jeans</h4>
            <h5 class="card-title">MRP ₹1912</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/7c/73/d0/7c73d0532bb9bd74c38dc39c73d6c5dc.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Craft Denim Pant</h4>
            <h5 class="card-title">MRP ₹1666</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/af/09/50/af09500e41a9d96e82df118117be2588.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Bellbottom Jeans</h4>
            <h5 class="card-title">MRP ₹1560</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/ee/e2/ae/eee2ae4f44a7b0c2618877e852e78686.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Pencil Jean Skirt</h4>
            <h5 class="card-title">MRP ₹1560</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/ab/46/70/ab4670851854f0eba1b0dbc740ba62ad.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Black Cargo Pant</h4>
            <h5 class="card-title">MRP ₹1330</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/64/9c/82/649c82dd13c81eb10424a45f0664b920.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Straight Denim Skirt</h4>
            <h5 class="card-title">MRP ₹1799</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/84/70/a8/8470a88e72e8a5b394a7c1e443f31006.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Star Pattern Wide Jeans</h4>
            <h5 class="card-title">MRP ₹1900</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/0e/35/3e/0e353ec3cca240ddfa75333b25df2ae5.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Regular Grey Jeans</h4>
            <h5 class="card-title">MRP ₹1380</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/46/55/65/465565d050798486b34c911abc48f97c.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Carhartt Carpenter Pant</h4>
            <h5 class="card-title">MRP ₹1603</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/10/95/36/109536cc353bb3ff9e9243295b423787.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Cut-Out Jeans</h4>
            <h5 class="card-title">MRP ₹1499</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/43/d9/ca/43d9caa5f86ed84c1bc79c2f8112c473.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Washed Flared Jeans</h4>
            <h5 class="card-title">MRP ₹1600</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/d9/fa/a5/d9faa5cf2b49d5ccc3427ed50538653c.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Baggy Brown Jeans</h4>
            <h5 class="card-title">MRP ₹1888</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/ce/2f/6d/ce2f6d5118db195593a663f28c81398f.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Cargo Jogger Scrub Pant</h4>
            <h5 class="card-title">MRP ₹1650</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/4d/71/20/4d7120d3892b7a1a60d69b99b5fbdb47.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Cider Coloured Jeans</h4>
            <h5 class="card-title">MRP ₹1890</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sign Up For 10% Off</h3>
            <p>
              Subscribe to our mailing list for direct access to new drops,
              exclusive discounts, giveaways, and product restocks
            </p>
            <form>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <button type="submit">JOIN</button>
            </form>
          </div>
          <div class="footer-section">
            <h3>About Us</h3>
            <ul>
              <li><a href="aboutus.html#mis">Our Mission</a></li>
              <li><a href="aboutus.html#sust">Sustainability</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Customer Care</h3>
            <ul>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="service.html">Shipping Information</a></li>
              <li><a href="return.html">Returns</a></li>
              <li><a href="return.html">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
