<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Makeup</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">WW</div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
          <li><a href="service.html">Services</a></li>
          <li><a href="return.html">Return</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="nav-right">
          <div class="search-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input type="text" placeholder="Search on WW" />
          </div>
          <a href="signin.html"> <button class="navbutton">Sign in</button></a>
          <a href="login.html"> <button class="navbutton">Log in</button></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-bag-heart"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
            />
          </svg>
        </div>
      </nav>
    </header>
    <h1 style="font-size: 85px">
      <marquee scrollamount="20" loop="infinite">MAKEUP PRODUCTS</marquee>
    </h1>
    <main>
      <div class="row justify-content-center align-items-center g-2">
        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/95/42/68/9542687bf79b41dcca900792e78815b0.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Morphe Volume 2 Pallete</h4>
            <h5 class="card-title">MRP ₹780</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/fd/40/24/fd4024d614b50a7908966278f3cc5023.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Glittery Pallete</h4>
            <h5 class="card-title">MRP ₹600</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/55/ce/83/55ce83e407f099ceb1725968987b573e.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Mirror Light Lip Gloss</h4>
            <h5 class="card-title">MRP ₹510</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/38/af/87/38af8762fa9eaad9d91d2584c02f11db.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">NARS Sheer Glow Foundation</h4>
            <h5 class="card-title">MRP ₹805</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/0c/95/87/0c958757ceb5c6f2854c2f5de43d212d.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Superstay Liquid Lipstick</h4>
            <h5 class="card-title">MRP ₹699</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/c7/05/b5/c705b53f9cf25d4210eb478e8e640774.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Deep Black And Smokey Kajal</h4>
            <h5 class="card-title">MRP ₹390</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/9e/65/78/9e657883c76a37825fb17f56198915e9.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">ELF Halo Liquid Filter</h4>
            <h5 class="card-title">MRP ₹889</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/0c/8c/7e/0c8c7e15659ccea6cedd4f5e779b6cfa.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Peripera Liptint</h4>
            <h5 class="card-title">MRP ₹499</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/82/0f/04/820f049631cdf0e03a757c1ec234ff6b.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Judydoll Presses Powder</h4>
            <h5 class="card-title">MRP ₹789</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/a7/86/6e/a7866ef649249c66ed2ac1abfefe7514.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Sheglam Stick Golden Sun</h4>
            <h5 class="card-title">MRP ₹639</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/e2/e0/da/e2e0da9e0b0d96e0ea19319af1e9b412.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Huda Beauty Nude Palatte</h4>
            <h5 class="card-title">MRP ₹570</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/8f/55/4e/8f554ec5c39106e45d35048052b335f2.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Huda Beauty Highlighter</h4>
            <h5 class="card-title">MRP ₹500</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/9e/c4/58/9ec4587a46693722d0f49e6d880aca7b.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Kiko Milano Lipgloss</h4>
            <h5 class="card-title">MRP ₹880</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/32/10/62/3210626326a91e59ec073d99e9fdfadd.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Hourglass Ambient Highlighter</h4>
            <h5 class="card-title">MRP ₹799</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/e4/5e/93/e45e93a4aa3eb6d3181fad246426ae9c.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Rhode Peptide Liptint</h4>
            <h5 class="card-title">MRP ₹559</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/17/98/1b/17981baa2bb13751c687ca255a26554e.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Morphe XO Color Palatte</h4>
            <h5 class="card-title">MRP ₹775</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sign Up For 10% Off</h3>
            <p>
              Subscribe to our mailing list for direct access to new drops,
              exclusive discounts, giveaways, and product restocks
            </p>
            <form>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <button type="submit">JOIN</button>
            </form>
          </div>
          <div class="footer-section">
            <h3>About Us</h3>
            <ul>
              <li><a href="aboutus.html#mis">Our Mission</a></li>
              <li><a href="aboutus.html#sust">Sustainability</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Customer Care</h3>
            <ul>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="service.html">Shipping Information</a></li>
              <li><a href="return.html">Returns</a></li>
              <li><a href="return.html">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
