<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoes</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">WW</div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
           <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
          <li><a href="service.html">Services</a></li>
          <li><a href="return.html">Return</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="nav-right">
          <div class="search-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input type="text" placeholder="Search on WW" />
          </div>
          <a href="signin.html"> <button class="navbutton">Sign in</button></a>
          <a href="login.html"> <button class="navbutton">Log in</button></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-bag-heart"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
            />
          </svg>
        </div>
      </nav>
    </header>
    <h1 style="font-size: 85px">
      <marquee scrollamount="20" loop="infinite">SHOES</marquee>
    </h1>
    <main>
      <div class="row justify-content-center align-items-center g-2">
        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/3f/c4/6c/3fc46c287a3e1094ceebc731e3ad93b3.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">White Sneakers</h4>
            <h5 class="card-title">MRP ₹2699</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/a1/0e/9e/a10e9e28935144448c8293681363b12b.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Haxel Blue Love Sneaker</h4>
            <h5 class="card-title">MRP ₹3000</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/2c/2c/50/2c2c50d92f9f7b2cf4fdccf42fc7128f.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Nike Mid Brown Basalt</h4>
            <h5 class="card-title">MRP ₹6999</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/2b/f0/df/2bf0dfcbd8d1ee4791d30ab117dde892.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Nike Dunk Low Sneaker</h4>
            <h5 class="card-title">MRP ₹8999</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/c8/c5/27/c8c527870b5a711036be0336cf02d855.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Black Loafers</h4>
            <h5 class="card-title">MRP ₹5500</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/da/8c/45/da8c45406a0fd1a3066c0901c60ea442.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Thick Bottom Lace Sneaker</h4>
            <h5 class="card-title">MRP ₹8790</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/b8/25/e1/b825e167ab9fff9aebc4c8cd561277c8.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Cruiser Chunky Sneaker</h4>
            <h5 class="card-title">MRP ₹8355</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/46/98/d6/4698d686ae51d8288afe1f6e6c49b866.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Chuncky Bow Ankle Boot</h4>
            <h5 class="card-title">MRP ₹6899</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/55/52/93/5552931c3069c218c5d1224c1c4d6536.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Nike Air Max 270</h4>
            <h5 class="card-title">MRP ₹9770</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/7f/6a/16/7f6a16b65a8684594f2bfd3e9f0ccaee.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Biege Leather Boot</h4>
            <h5 class="card-title">MRP ₹8669</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/4d/74/a1/4d74a172cea0bf4d1cbf074d4e75999c.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">High-Top Boots</h4>
            <h5 class="card-title">MRP ₹8990</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/44/30/36/443036b7ec8153b2ce02be702e5a25a7.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Bow Applique Ankle Boot</h4>
            <h5 class="card-title">MRP ₹7225</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/5d/38/a4/5d38a40418d09430258748b99801d93e.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Nike AirForce1 Mid Beige</h4>
            <h5 class="card-title">MRP ₹8999</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/71/10/1c/71101c6472cded3cb1ca6da81a0ff3d3.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Mascot Black Boot</h4>
            <h5 class="card-title">MRP ₹7850</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/5d/e5/76/5de5762860ded05f274c8c1c24e9fe6e.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Nike Valentine Shoes</h4>
            <h5 class="card-title">MRP ₹7899</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/41/4d/f8/414df878b1c8413564dead9c5d22d0fa.jpg"
          />
          <div class="card-body">
            <h4 class="card-title">Pointed Calf Boot</h4>
            <h5 class="card-title">MRP ₹9289</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sign Up For 10% Off</h3>
            <p>
              Subscribe to our mailing list for direct access to new drops,
              exclusive discounts, giveaways, and product restocks
            </p>
            <form>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <button type="submit">JOIN</button>
            </form>
          </div>
          <div class="footer-section">
            <h3>About Us</h3>
            <ul>
              <li><a href="aboutus.html#mis">Our Mission</a></li>
              <li><a href="aboutus.html#sust">Sustainability</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Customer Care</h3>
            <ul>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="service.html">Shipping Information</a></li>
              <li><a href="return.html">Returns</a></li>
              <li><a href="return.html">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
