<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Top</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">WW</div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown">
            <a href="category.html">Categories</a>
            <ul class="dropdown-content">
              <li><a href="dress.html">Dresses</a></li>
              <li><a href="jeans.html">Jeans</a></li>
              <li><a href="top.html">Top</a></li>
              <li><a href="jewel.html">Assessories</a></li>
              <li><a href="shoes.html">Shoes</a></li>
              <li><a href="makeup.html">Makeup</a></li>
              <li><a href="bag.html">Bag</a></li>
              <li><a href="watch.html">Watch</a></li>
              <li><a href="perfumes.html">Perfumes</a></li>
              <li><a href="hairap.html">Hair Appliances</a></li>
            </ul>
          </li>
          <li><a href="service.html">Services</a></li>
          <li><a href="return.html">Return</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="nav-right">
          <div class="search-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input type="text" placeholder="Search on WW" />
          </div>
          <a href="signin.html"> <button class="navbutton">Sign in</button></a>
          <a href="login.html"> <button class="navbutton">Log in</button></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-bag-heart"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
            />
          </svg>
        </div>
      </nav>
    </header>
    <h1 style="font-size: 85px">
      <marquee scrollamount="20" loop="infinite">TOPS</marquee>
    </h1>
    <main>
      <div class="row justify-content-center align-items-center g-2">
        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/20/b3/88/20b38835848e164eee39fe7bced1dba9.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Solid Rib Tube Top</h4>
            <h5 class="card-title">MRP ₹3200</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/2f/2a/e2/2f2ae209a46fea92f9b5f59624df8a99.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Mesh Assymetrical Neck Top</h4>
            <h5 class="card-title">MRP ₹2220</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/aa/63/0a/aa630ac9664d171d149772473fa061cc.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Lantern Sleeve Top</h4>
            <h5 class="card-title">MRP ₹1999</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/65/63/56/6563567e9a081bac3319d79946310307.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Knit Febric Assymetrical Neck</h4>
            <h5 class="card-title">1290</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/0c/85/8a/0c858a5f40328827f5cdbaa9612cbf06.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Rose Printed Ruched Top</h4>
            <h5 class="card-title">MRP ₹2190</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/e0/f8/a1/e0f8a1deb7cc7838c2eb895e0180c2f3.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Stand Collar Bell Sleeve</h4>
            <h5 class="card-title">MRP ₹1699</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/d8/23/f2/d823f25a328d569716fcccc4e975ce2f.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Bowknot Bell Sleeve Top</h4>
            <h5 class="card-title">MRP ₹1300</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/50/31/0c/50310cb729963a7f17f64e385a68f1e5.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Lapel Collar Puff Sleeve</h4>
            <h5 class="card-title">MRP ₹2489</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/32/47/fb/3247fbf11a090dec56be4736a16d4a53.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Off Shoulder Pleated Top</h4>
            <h5 class="card-title">MRP ₹1505</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/d9/ad/df/d9addf757d23bd1be8b2d955911e19bd.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Long Sleeve Jacket</h4>
            <h5 class="card-title">MRP ₹1770</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/e0/c0/f0/e0c0f01b4818f4ee3feae1c630521d5b.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Lantern Sleeve Frill Top</h4>
            <h5 class="card-title">MRP ₹1099</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/da/fd/77/dafd77dd3253286c04ffb8a46c73148e.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Striped Button Down Top</h4>
            <h5 class="card-title">MRP ₹2130</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/2f/c1/f1/2fc1f1d0d2d4f746212259b116cdb4ad.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Fabric V-neck Top</h4>
            <h5 class="card-title">MRP ₹2500</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/05/d2/0b/05d20b47ffc0ca8a1e64e3d130fccd1a.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Pleated Twist Shirt</h4>
            <h5 class="card-title">MRP ₹1390</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/7b/bd/53/7bbd538f37332c17f174f94c20cab7b3.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Solid A-Line Top</h4>
            <h5 class="card-title">MRP ₹1455</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>

        <div class="card text-start col-3 m-0 p-1 img-fluid p-1">
          <img
            class="homeimg"
            src="https://i.pinimg.com/736x/f6/07/07/f60707018e6fb5d02b70ede209bf7e21.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Fabric Round Neckline Top</h4>
            <h5 class="card-title">2100</h5>
            <p class="card-text">
              <a href="purchase.html"
                ><button class="buy">Tap to Purchase</button></a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sign Up For 10% Off</h3>
            <p>
              Subscribe to our mailing list for direct access to new drops,
              exclusive discounts, giveaways, and product restocks
            </p>
            <form>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <button type="submit">JOIN</button>
            </form>
          </div>
          <div class="footer-section">
            <h3>About Us</h3>
            <ul>
              <li><a href="aboutus.html#mis">Our Mission</a></li>
              <li><a href="aboutus.html#sust">Sustainability</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Customer Care</h3>
            <ul>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="service.html">Shipping Information</a></li>
              <li><a href="return.html">Returns</a></li>
              <li><a href="return.html">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
